services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5440:5432"
    volumes:
      - feedbase_data:/var/lib/postgresql/data

volumes:
  feedbase_data: